apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: oauth2-server

bases:
  - ../../base

commonLabels:
  environment: production

images:
  - name: ghcr.io/ianlintner/rust_oauth2_server
    newTag: v1.0.0
